@CHARSET "UTF-8";

.root {
     -fx-background-image: url("background.jpg");
}



#singIn{
	 -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}


#save{
	/* -fx-text-fill: white;*/
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    /*-fx-background-color: linear-gradient(#808080, #E6E6E6);*/
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-graphic: url('floppy.png');
   
   
}

#save:hover{
    -fx-background-color: linear-gradient(#808080, #E6E6E6);
     -fx-text-fill: white;
}


#category{
	/*-fx-text-fill: white;*/
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    /* -fx-background-color: linear-gradient(#61a2b1, #2A5058);*/
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
	-fx-graphic: url('categories.png');
}
#category:hover{
	 -fx-background-color: linear-gradient(#808080, #E6E6E6);
	  -fx-text-fill: white;
}


#delButton{
	 /*-fx-text-fill: white;*/
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    /*-fx-background-color: linear-gradient(#61a2b1, #2A5058);*/
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
   	-fx-graphic: url('trash.png');
}

#delButton:hover{
    -fx-background-color: linear-gradient(#808080, #E6E6E6);
    -fx-graphic: url('trash.png');
     -fx-text-fill: white;
}

#subCat{
	 /*-fx-text-fill: white;*/
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    /*-fx-background-color: linear-gradient(#61a2b1, #2A5058);*/
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
	-fx-graphic: url('sub.png');
}
#subCat:hover{
	 -fx-background-color: linear-gradient(#808080, #E6E6E6);
	  -fx-text-fill: white;
}

#products{
	/* -fx-text-fill: white;*/
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    /*-fx-background-color: linear-gradient(#61a2b1, #2A5058);*/
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
	-fx-graphic: url('suppliers_med.png');
}
#products:hover{
	 -fx-background-color: linear-gradient(#808080, #E6E6E6);
	  -fx-text-fill: white;
}

#back{
	 /*-fx-text-fill: black;*/
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
   /* -fx-background-color: linear-gradient(#61a2b1, #2A5058);*/
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
	-fx-graphic: url('back_small.png');
}

#back:hover{
    -fx-background-color: linear-gradient(#808080, #E6E6E6);
     -fx-text-fill: white;
}



#singIn:hover{
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
     -fx-text-fill: white;
}

#positive{
	-fx-text-fill: white;
	-fx-background-color: #FF6666;
}

#negative{
	-fx-text-fill: white;
	-fx-background-color: #66FF66;
}

#zero{
	-fx-text-fill: black;
	-fx-background-color: white;
}

#welcome-text{
	-fx-alignment: center;
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}


#FilterSmallTitle{
	 -fx-alignment: center;
   -fx-font-size: 12px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
	
}



#FilterTitle{
   -fx-alignment: center;
   -fx-font-size: 18px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}


#notChecked{
	-fx-background-color: #FFA3FF;
}


#searchID{
	 -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
   /* -fx-background-color: linear-gradient(#61a2b1, #2A5058);*/
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
   	-fx-graphic: url('search.png');
}


#searchID:hover{
    -fx-background-color: linear-gradient(#808080, #E6E6E6);
    -fx-graphic: url('search.png');
    -fx-text-fill: white;
}

#menu{
	/*-fx-background-color: linear-gradient(#66C2C2,#4DB8B8);*/
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
	 -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
}

#waitMessage{
	-fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-weight: bold;
   
}


#addCat{
	-fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
   	-fx-graphic: url('addCat.png');
}


#addCat:hover{
    -fx-background-color: linear-gradient(#808080, #E6E6E6);
    -fx-graphic: url('addCat.png');
    -fx-text-fill: white;
}



#sort{
	-fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
   	-fx-graphic: url('down.png');
}

#sort:hover{
	-fx-background-color: linear-gradient(#808080, #E6E6E6);
    -fx-graphic: url('down.png');
    -fx-text-fill: white;
}




#addProd{-fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
   	-fx-graphic: url('addProds.png');
}
#addProd:hover{
	-fx-background-color: linear-gradient(#808080, #E6E6E6);
    -fx-graphic: url('addProds.png');
    -fx-text-fill: white;
}

#export{-fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
   	-fx-graphic: url('excel_small.png');
}
#export:hover{
	-fx-background-color: linear-gradient(#808080, #E6E6E6);
    -fx-graphic: url('excel_small.png');
    -fx-text-fill: white;
}
